ansimarkup==1.4.0
asn1crypto==0.24.0
better-exceptions-fork==0.2.1.post6
boto3==1.9.183
botocore==1.12.183
certifi==2019.6.16
cffi==1.12.3
Click==7.0
colorama==0.4.1
cryptography==3.3.2
docutils==0.14
idna==2.8
jmespath==0.9.4
loguru==0.2.5
pipx==0.13.1.1
pycparser==2.19
Pygments==2.7.4
pyOpenSSL==19.0.0
PySocks==1.7.0
python-dateutil==2.8.0
S3Dict==0.1
s3transfer==0.2.1
six==1.12.0
urllib3==1.25.3
userpath==1.1.0
